$primaryColor: #5681a0;
$secondaryColor: #b9d1e1;
$primaryTextColor: #83a8c2;
$secondaryTextColor: #386789;
$teritaryColor: #215173;
$contentText: #747474;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin desktop {
  @media (min-width: 1120px) {
    @content;
  }
}

@mixin tabletUp {
  @media (min-width: 768px) {
    @content;
  }
}


@mixin tabletDown {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

