//Contact form  
  form {
    
    font-size: 1.4rem;
    // width:80vw; 
    margin:0 auto;
    text-align:center;
    margin: 2rem 0 0 0;
    @include tabletUp(){
      width: 20vw;
    }

    & .formBox {
        text-align: center;
        // width:80vw; 
        @include tabletUp(){
          width: 30vw;
          text-align: start;
        }
      }
    
    
    & .formField {
      border: 0;
      width:80vw;
      height: 10px;
      border-radius: 3px;
      padding: 0.8rem;
      font-size: 1.1rem;
      background: var(--primary);
      box-shadow: var(--shadow);
      @include tabletUp(){
        width: 20vw;
      }
    }
    
    
    & .formMsg {
      border: 0;
      width:80vw;
      border-radius: 3px;
      padding: 0.8rem;
      font-size: 1.1rem;
      background: var(--primary);
      box-shadow: var(--shadow);
      @include tabletUp(){
        width: 20vw;
      }
    }


  }

  //Edit User Form
  .editUser { 
    font-size: 1.4rem;
    // width:80vw; 
    margin:0 auto;
    text-align:center;
    margin: 2rem 0 0 0;
    @include tabletUp(){
      width: 30vw !important;
    }

   .userField {
        border: 0;
        width:60vw;
        height: 10px;
        border-radius: 3px;
        padding: 0.8rem;
        font-size: 1.1rem;
        background: var(--primary);
        box-shadow: var(--shadow);
        @include tabletUp(){
          width: 30vw;
        }
      }
    }
   .formBtn {
    border: 0;
    border-radius: 7px;
    background: $secondaryTextColor;
    padding: 0.3rem;
    margin: 1rem 0 0 0;
    font-size: 1rem;
    cursor: pointer;
    color: var(--light);
  }
  .formBtn:hover {
    color: var(--dark);
    background: lighten($primaryTextColor, 20%);
  @include easeOut();
  }

  
  .warning{
    color: #8B0000;
    border: 2px;
    border-style: solid;
    border-color: #8B0000;
    font-size: 1rem;
    font-weight: 800;
  }
  .contactBg {
    @include tabletUp(){
       
    grid-template-columns: 25vw 20vw;
    max-width: 945px;
    width: 945px;
     }
     grid-gap: 20px;
     display: inline-grid;
     margin-left: 0 0;
     margin-right: 0 0;
     max-width: 100vw;
     width: 100vw;
    }
     .contactBox {
      background: var(--primary);
      text-decoration: none;
      padding: 3rem;
      box-shadow: var(--shadow);
      margin: 0 0;
      align-items: start;
      justify-content: center;

      }

        .fullContent {
          background: var(--primary);
          text-decoration: none;
          box-shadow: var(--shadow);
          margin: 0 0 0 0;
          align-items: center;
          justify-content: center;
          @include tabletUp{
          max-width: 945px;
          width: 945px;
          }
          }

  
.flashSuccess{
  display: table;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  .reginfo {
    padding-top: 10px;
    font-size: 1.2rem;
  }

  .contactBox .icon{
  width:50;
  text-align:center;
  @include tabletUp {
  padding-top: 4rem;
  }
}

.contactBox .smsc{
  @include tabletUp {
    display: none;
}
}
.contactBox .bgsc{
  @include tabletDown {
    display: none;
}
}

