@import 'config.scss';

.grid {
  padding: 0;
  margin: 0;
    display: grid;
    grid-template-columns: 0.7fr 1.8fr 0.1fr 1fr;
    grid-template-rows: 0.05fr 0.2fr;
    @include tabletUp() {
      grid-template-columns: 0.1fr 1fr 2fr 1fr;
      //padding-top: 1rem;
      grid-template-rows: 20px 100px;
    }
    @include desktop() {
      grid-template-columns: 0.2fr 1.5fr 2fr 1fr;
      //padding-top: 1rem;
      grid-template-rows: 20px 100px;
    }
  }
  
  .box1 {
      grid-column: 2/4;
      grid-row: 2/3;
    @include tabletUp() {
      grid-column: 2;
      grid-row: 2;
      margin-left: auto;
      margin-right: 0;
    }
    @include tabletDown() {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .box2 {
    grid-column: 3;
    grid-row: 2;
  
    @include tabletUp() {
      grid-column: 3/5;
      padding-top: 0.5rem;
    }
  }

  .userBox {
    display: none;
    @include tabletUp() {
      display: inline;
      grid-row: 1;
      grid-column: 3;
    }
  }
  
  //GridContact
  
  .gridContact {
    @include tabletUp() {
      display: -moz-inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  #box1Contact {
    @include tabletUp() {
      grid-column: 2;
      grid-row: 1;
    }
  }
  
  .box2Contact {
    @include tabletUp() {
      grid-column: 2;
      grid-row: 2;
    }
  }
  .box3Contact {
    @include tabletUp() {
      grid-column: 2;
      grid-row: 3;
    }
  }
  
  #mainContent {
    color: black;
  }