.profile {
    display: inline-grid;
    background: var(--primary);
    text-decoration: none;
    // padding: 3rem;
    box-shadow: var(--shadow);
    margin: 0 0;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 945px !important;
    width: 945px;  
    }
    .profileBox{
      margin-left: auto;
      margin-right:auto;    
      margin-top: auto;
      margin-bottom: auto;    
      padding: 3rem; 

    }
    .userName {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    .grayForm{
        background-color: #F5F5F5 !important;
    }